.tw-page{
	position: relative;
	padding: 20px 0;
	text-align: center;
	&__logo, &__title{
		display: block;
		margin: auto;
	}
	&__logo{
		img{
			width: (382px / 2);
			height: auto;
		}
		margin-bottom: 40px;
	}
	&__title{
		height: 110px;
		@include duotitle('small','center');
	}
	&__subtitle{
		text-align: center;
		margin-bottom: 30px;
	}
	&__intro{
		@include css(font--light);
		color: color(secondary);
	}
	&__body{
		margin-bottom: $padding-unit;
		a{
			text-decoration: underline;
		}
		h1{
			font-size: 1.8em;
			text-align: center;
		}
		h2{
			font-size: 1.4em;
			text-align: left;
		}
		h3{
			font-size: 1.1em;
			text-align: left;
		}
		p, ul, li{
			margin-bottom: 15px;
			text-align: justify;
		}
	}
	&__return{
		margin: auto;
	}
}

.login-page{
	@extend %tw-card;
	position: relative;
	&__logo, &__welcome{
		display: block;
		margin: auto;
	}
	&__logo{
		width: (382px / 2);
		height: auto;
		margin-bottom: 40px;
	}
	&__welcome{
		height: 100px;
		@include duotitle('small','center');
	}
	&__intro{
		@include css(font--light);
		color: color(secondary);
	}
	&__tyc{
		font-size: .8em;
		margin-bottom: $padding-unit;
		margin-top: 45px;
		a{
			text-decoration: underline;
		}
	}
	&__button{
		margin-top: 30px;
	}
}

.profile-photo{
	height: 90px;
	width: 250px;
	margin: auto;
	&__image{
		@extend %profile-img;
		float: left;
		margin-right: $padding-unit;
	}
	&__name{
		@include css(font--light);
		text-transform: uppercase;
		font-size: 1.1em;
		line-height: 1.1em;
	}
	&__score{
		@extend %number;
		font-size: 3.5em;
    	line-height: 0.9em;
	}
}

.tw-app{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

@keyframes focus {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}
%focus-animation{
	animation: focus 800ms linear infinite;
}
.tw-map{
	@extend .tw-app;
	&__stage{
		width: 920px;
		position: absolute;
		left: 50%;
		margin-left: -450px;
		max-height: 100%;
		@include media-breakpoint-up(lg) {
			width: 1100px;
			margin-left: -550px;		
		}
		@include media-breakpoint-up(xl) {
			width: 1200px;
			margin-left: -600px;		
		}
	}
	&__pins{
		width: 100%;
		position: relative;
		bottom: 0;
		transition: left 400ms, top 400ms;
		.tw-map--1 &{
			left: 10%;
		}
		.tw-map--2 &{
			left: -33%;
		}
		.tw-map--3 &{
			left: -16%;
		}
		.tw-map--4 &{
			left: 26%;
			top: -140px;
		}
		.tw-map--5 &{
			left: 8%;
			top: 60px;
		}
		img{
			display: block;
			max-width: 100%;
			height: auto;
			max-height: 90%; //Lo mismo de antes
			margin: auto;
		}
		&__item{
			position: absolute;
			width: 5%;
    		height: 15%;
			background-image: url(#{$image_path}/pin.png);
			background-size: 100%;
			background-repeat: no-repeat;
			cursor: pointer;
			&--1{
				left: 37.1%;
				top: 21%;
				.tw-map--1 &{
					@extend %focus-animation;
				}
			}
			&--2{
				left: 80%;
				top: 16%;
				.tw-map--2 &{
					@extend %focus-animation;
				}
			}
			&--3{
				left: 63%;
				top: 30%;
				.tw-map--3 &{
					@extend %focus-animation;
				}
			}
			&--4{
				left: 21%;
				top: 70%;
				.tw-map--4 &{
					@extend %focus-animation;
				}
			}
			&--5{
				top: 4.5%;
				left: 39%;
				.tw-map--5 &{
					@extend %focus-animation;
				}
			}
		}
	}
	&__ctrls{
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		text-align: center;
		padding-bottom: $padding-unit;
	}
	&__dots{
		width: 100%;
		&__item{
			display: inline-block;
			position: relative;
			width: 16px;
			height: 16px;
			border-radius: 16px;
			border: 1px solid color(border);
			margin: 0 15px;
			cursor: pointer;
			&--available{
				&:before{
					content: '';
					position: absolute;
					top: 50%;
					height: 50%;
					width: 10px;
					height: 10px;
					margin-left: -5px;
					margin-top: -5px;
					border-radius: 10px;
					background: color(on);
				}
				&:after{
					content: "";
					position: absolute;
					top: 50%;
					width: 30px;
					height: 1px;
					border-top: 1px dotted color(border);
					left: 16px;
				}
			}
			&:last-child{
				&:after{
					content: none;
				}
			}
		}
	}
	&__titles{
		height: 75px;
		margin-bottom: 25px;
		position: relative;
		&__item{
			@include duotitle('small','center',color(nero));
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -100px;
			width: 200px;
			height: 100%;
			overflow: hidden;
			opacity: 0;
			transition: opacity 800ms;
			&:after{
				content: "";
				position: absolute;
				bottom: 0;
				left: 50%;
				margin-left: -8px;
				width: 16px;
				height: 1px;
				border-bottom: 1px solid color(border);
			}
			.tw-map--1 &--1{
				opacity: 1;
			}
			.tw-map--2 &--2{
				opacity: 1;
			}
			.tw-map--3 &--3{
				opacity: 1;
			}
			.tw-map--4 &--4{
				opacity: 1;
			}
			.tw-map--5 &--5{
				opacity: 1;
			}
		}
	}
}

.tw-modal{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	@extend %background;
	@include z(modal);
	display: none;
	overflow:hidden;
	overflow-y:auto;
}
.tw-dynamic{
	&__preview{
		@extend %tw-card;
		&__title{
			position: relative;
			height: 75px;
			margin-bottom: 30px;
			@include duotitle('big','center');
		}
		p{
			color: color(secondary);
			margin-bottom: 30px;
		}
		.tw-form__button{
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
	&__app{
		display: none;
		width: 100%;
		text-align: center;
		&__title{
			@include css(font--number);
			color: color(light);
			font-size: 2.5em;
			margin-bottom: 10px;
		}
		&__city{
			@include duotitle('small','center');
			height: 90px;
			.tw-dynamic--siluetas &{
				height: 80px;	
			}
		}
	}
	&__score{
		@extend %tw-card;
		display: none;
		border-top: 1px solid color(border);
		border-bottom: 1px solid color(border);
		margin-bottom: 10px;
		&__name{
			@extend %light-title;
			font-size: 1em;
			letter-spacing: 3px;
		}
		&__image{
			@extend %profile-img;
			display: inline-block;
		}
		&__points{
			margin-bottom: 15px;
			&__item{
				@extend %light-title;
				font-size: .8em;
				display: inline-block;
				border: 1px solid color(border);
				margin: 5px;
				padding: 10px;
				width: 130px;
				span{
					display: block;
					@extend %number;
					font-size: 2.4rem;
				}
			}
		}
		&__label{
			@extend %light-title;
			font-size: .9em;
			display: inline-block;
			border-bottom: 1px solid color(border);
		}
		&__new{
			display: block;
			@extend %number;
			font-size: 4rem;
			line-height: 4rem;
			margin-bottom: 30px;
		}
		&__message{
			color: color(light);
			font-size:.9em;
			margin-bottom: 10px;
		}
	}
	&__start{}
	&__close{}
}

.tw-postal{
	margin-bottom: 25px;
	&__image{
		border: 3px solid color(border);
		border-radius: 5px;
		overflow: hidden;
		margin-bottom: 7px;
		a{
			display: block;
		}
		img{

		}
	}
	&__share{
		text-align: right;
		a{
			margin-left: 5px;
			margin-right: 5px;
			border-radius: 50%;
			border: 2px solid color(border);
			color: color(border);
			width: 30px;
			line-height: 32px;
			height: 30px;
			display: inline-block;
			text-align: center;
		}
	}
	&__body{
		padding-top: 30px;
	}
}