@font-face {
	font-family: 'AvenirRoman';
	src: url('#{$font-path}AvenirLTPro-Roman.eot');
	src: url('#{$font-path}AvenirLTPro-Roman.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}AvenirLTPro-Roman.woff2') format('woff2'),
		url('#{$font-path}AvenirLTPro-Roman.woff') format('woff'),
		url('#{$font-path}AvenirLTPro-Roman.ttf') format('truetype'),
		url('#{$font-path}AvenirLTPro-Roman.svg#AvenirLTPro-Roman') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir LT Std';
	src: url('#{$font-path}AvenirLTStd-Medium.eot');
	src: url('#{$font-path}AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}AvenirLTStd-Medium.woff2') format('woff2'),
		url('#{$font-path}AvenirLTStd-Medium.woff') format('woff'),
		url('#{$font-path}AvenirLTStd-Medium.ttf') format('truetype'),
		url('#{$font-path}AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir LT Std';
	src: url('#{$font-path}AvenirLTStd-Oblique.eot');
	src: local('☺'), url('#{$font-path}AvenirLTStd-Oblique.woff') format('woff'),
	url('#{$font-path}AvenirLTStd-Oblique.ttf') format('truetype'),
	url('#{$font-path}AvenirLTStd-Oblique.svg') format('svg');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Avenir LT Std';
	src: url('#{$font-path}AvenirLTStd-Light.eot');
	src: local('☺'), url('#{$font-path}AvenirLTStd-Light.woff') format('woff'),
	url('#{$font-path}AvenirLTStd-Light.ttf') format('truetype'),
	url('#{$font-path}AvenirLTStd-Light.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir LT Std';
	src: url('#{$font-path}AvenirLTStd-Heavy.eot');
	src: local('☺'), url('#{$font-path}AvenirLTStd-Heavy.woff') format('woff'),
	url('#{$font-path}AvenirLTStd-Heavy.ttf') format('truetype'),
	url('#{$font-path}AvenirLTStd-Heavy.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'BodoniSevITCBoo';
	src: url('#{$font-path}BodoniSevITC-Bold.eot');
	src: url('#{$font-path}BodoniSevITC-Bold.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}BodoniSevITC-Bold.woff2') format('woff2'),
		url('#{$font-path}BodoniSevITC-Bold.woff') format('woff'),
		url('#{$font-path}BodoniSevITC-Bold.ttf') format('truetype'),
		url('#{$font-path}BodoniSevITC-Bold.svg#BodoniSevITC-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
