@function map-get-warn( $list, $key ) {
  @if map-has-key($list, $key) {
    @return map-get($list, $key);
  }
  @warn "No se encontró: #{$key}";
  @return $key;
}
@function color( $key ) {
  @if map-has-key($brand-colors, $key) {
    @return map-get($brand-colors, $key);
  }
  @elseif map-has-key($secondary-colors, $key){
    @return map-get($secondary-colors, $key);
  }
  @elseif map-has-key($app-colors, $key){
    @return map-get($app-colors, $key);
  }
  @warn "No se encontró: #{$key} en $brand-colors, $secondary-colors o $app-colors.";
  @return $key;
}
@function color-list( $colors ) {
  $colors-list:();
  @each $color, $hex in $colors {
    $colors-list: append($colors-list, $hex);
  }  
  @return $colors-list;
}
@mixin css( $key ) {
  @if map-has-key($csss, $key) {
    @each $property, $value in map-get($csss, $key) {
      #{$property}: $value
    }
  }
}
@function z( $level ) {
  @return map-get-warn($z-levels, $level);
}
@mixin z( $level ) {
  z-index: z( $level );
}